t/xml_015/choice_occurs_with_complex.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="choice_test">
		<xs:complexType>
			<xs:choice maxOccurs="18">
				<xs:element name="c">
					<xs:complexType>
						<xs:sequence>
              				<xs:element name="elc" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="d">
					<xs:complexType>
						<xs:sequence>
              				<xs:element name="eld" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:choice>
		</xs:complexType>
	</xs:element>
</xs:schema>

