t/xml_098/DR_Receipt V1.0.1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.nrf-arts.org/IXRetail/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.nrf-arts.org/IXRetail/namespace" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:simpleType name="UnitOfMeasureCode">
		<xs:annotation>
			<xs:documentation>enum codes excerpted from UN/ECE REC 20</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="EA">
				<xs:annotation>
					<xs:documentation>each</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FOT">
				<xs:annotation>
					<xs:documentation>foot</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GLI">
				<xs:annotation>
					<xs:documentation>gallon (UK)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GLL">
				<xs:annotation>
					<xs:documentation>gallon (US)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRM">
				<xs:annotation>
					<xs:documentation>gram</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INH">
				<xs:annotation>
					<xs:documentation>inch</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KGM">
				<xs:annotation>
					<xs:documentation>kilogram</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LBR">
				<xs:annotation>
					<xs:documentation>pound</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CurrencyCode">
		<xs:annotation>
			<xs:documentation>enum: ISO-4217 / UN/ECE REC 09 Codes, reduced for simpler processing.
                Schema with a full list is available.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AUD">
				<xs:annotation>
					<xs:documentation>Australian Dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BEF">
				<xs:annotation>
					<xs:documentation>Belgian Franc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAD">
				<xs:annotation>
					<xs:documentation>Canadian Dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CHF">
				<xs:annotation>
					<xs:documentation>Swiss Franc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DEM">
				<xs:annotation>
					<xs:documentation>Deutsche Mark</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DKK">
				<xs:annotation>
					<xs:documentation>Danish Krone</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ESP">
				<xs:annotation>
					<xs:documentation>Spanish Peseta</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="EUR">
				<xs:annotation>
					<xs:documentation>euro</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FRF">
				<xs:annotation>
					<xs:documentation>French Franc</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GBP">
				<xs:annotation>
					<xs:documentation>Pound Sterling</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="INR">
				<xs:annotation>
					<xs:documentation>Indian Rupee</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ILS">
				<xs:annotation>
					<xs:documentation>New Israeli Sheqel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ISK">
				<xs:annotation>
					<xs:documentation>Iceland Krona</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MXN">
				<xs:annotation>
					<xs:documentation>Mexican Peso</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NZD">
				<xs:annotation>
					<xs:documentation>New Zealand Dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RUR">
				<xs:annotation>
					<xs:documentation>Russian Ruble</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SEK">
				<xs:annotation>
					<xs:documentation>Swedish Krona</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="USD">
				<xs:annotation>
					<xs:documentation>US Dollar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="USN">
				<xs:annotation>
					<xs:documentation>US Dollar (Next day)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZAR">
				<xs:annotation>
					<xs:documentation>South Africa Rand</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XAG">
				<xs:annotation>
					<xs:documentation>Silver</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="XAU">
				<xs:annotation>
					<xs:documentation>Gold</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ServiceLevelCode">
		<xs:annotation>
			<xs:documentation>enum codes from ANSI X12, Data Element 284:  Code indicating the level
                of transportation service or the billing service offered by the transportation
                carrier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="01">
				<xs:annotation>
					<xs:documentation>Bulk Commodity Train</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="09">
				<xs:annotation>
					<xs:documentation>Premium Surface</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3D">
				<xs:annotation>
					<xs:documentation>Three Day Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="9A">
				<xs:annotation>
					<xs:documentation>9 A.M.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AC">
				<xs:annotation>
					<xs:documentation>Air Cargo</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AE">
				<xs:annotation>
					<xs:documentation>Air Economy</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AM">
				<xs:annotation>
					<xs:documentation>A.M.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BC">
				<xs:annotation>
					<xs:documentation>Business Class</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CB">
				<xs:annotation>
					<xs:documentation>Consignee Billing Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CE">
				<xs:annotation>
					<xs:documentation>Courier Express</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CG">
				<xs:annotation>
					<xs:documentation>Ground</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CX">
				<xs:annotation>
					<xs:documentation>Express Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D1">
				<xs:annotation>
					<xs:documentation>Delivery Scheduled Next Day by Cartage
                    Agent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D2">
				<xs:annotation>
					<xs:documentation>Delivery scheduled second day by cartage
                    agent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D3">
				<xs:annotation>
					<xs:documentation>Delivery scheduled third day by cartage
                    agent</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DC">
				<xs:annotation>
					<xs:documentation>Delivery Confirmation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DF">
				<xs:annotation>
					<xs:documentation>Deferred Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DR">
				<xs:annotation>
					<xs:documentation>Delivery Confirmation Return</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DS">
				<xs:annotation>
					<xs:documentation>Door Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DT">
				<xs:annotation>
					<xs:documentation>Delivery Notification Only</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ES">
				<xs:annotation>
					<xs:documentation>Expedited Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ET">
				<xs:annotation>
					<xs:documentation>Proof of Delivery (POD) with Signature</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FC">
				<xs:annotation>
					<xs:documentation>First Class</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G2">
				<xs:annotation>
					<xs:documentation>Standard Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GP">
				<xs:annotation>
					<xs:documentation>Express Service Plus</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GT">
				<xs:annotation>
					<xs:documentation>Tracking - Ground</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IA">
				<xs:annotation>
					<xs:documentation>IATA</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IE">
				<xs:annotation>
					<xs:documentation>Expedited Service - Worldwide</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IX">
				<xs:annotation>
					<xs:documentation>Express Service - Worldwide</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ME">
				<xs:annotation>
					<xs:documentation>Metro</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MW">
				<xs:annotation>
					<xs:documentation>Multiweight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ND">
				<xs:annotation>
					<xs:documentation>Next Day Air</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NF">
				<xs:annotation>
					<xs:documentation>Next Flight Out</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NH">
				<xs:annotation>
					<xs:documentation>Next Day Hundred Weight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NM">
				<xs:annotation>
					<xs:documentation>Next Morning</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NS">
				<xs:annotation>
					<xs:documentation>Not Served</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ON">
				<xs:annotation>
					<xs:documentation>Overnight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PA">
				<xs:annotation>
					<xs:documentation>Primary Service Area - Next Day by 10:30
                    A.M.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PB">
				<xs:annotation>
					<xs:documentation>Priority Mail</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PC">
				<xs:annotation>
					<xs:documentation>Primary Service Area - Next Day By 9:30 AM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PI">
				<xs:annotation>
					<xs:documentation>Priority Mail Insured</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PM">
				<xs:annotation>
					<xs:documentation>PM</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PN">
				<xs:annotation>
					<xs:documentation>Primary Service Area - Next Day by Noon</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PO">
				<xs:annotation>
					<xs:documentation>P.O. Box/Zip Code</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PR">
				<xs:annotation>
					<xs:documentation>Primary Service Area - Next Day by 5:00
                    P.M.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PS">
				<xs:annotation>
					<xs:documentation>Primary Service Area - Second Day by Noon</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R1">
				<xs:annotation>
					<xs:documentation>Passenger Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R2">
				<xs:annotation>
					<xs:documentation>Quality Intermodal High Speed 70 Miles Per Hour
                    (MPH)</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R3">
				<xs:annotation>
					<xs:documentation>Other Intermodal and Stack Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R4">
				<xs:annotation>
					<xs:documentation>60 Miles Per Hour (MPH) Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R5">
				<xs:annotation>
					<xs:documentation>Manifest Freight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R6">
				<xs:annotation>
					<xs:documentation>Circus Train</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R7">
				<xs:annotation>
					<xs:documentation>Work Train</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="R8">
				<xs:annotation>
					<xs:documentation>Commuter Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RS">
				<xs:annotation>
					<xs:documentation>Authorized Return Service</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SA">
				<xs:annotation>
					<xs:documentation>Same Day</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SC">
				<xs:annotation>
					<xs:documentation>Second Day Air</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SD">
				<xs:annotation>
					<xs:documentation>Saturday</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SE">
				<xs:annotation>
					<xs:documentation>Second Day</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SG">
				<xs:annotation>
					<xs:documentation>Standard Ground</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SH">
				<xs:annotation>
					<xs:documentation>Second Day Hundred Weight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SI">
				<xs:annotation>
					<xs:documentation>Standard Ground Hundred Weight</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SM">
				<xs:annotation>
					<xs:documentation>Second Morning</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SP">
				<xs:annotation>
					<xs:documentation>Saturday Pickup</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ST">
				<xs:annotation>
					<xs:documentation>Standard Class</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZZ">
				<xs:annotation>
					<xs:documentation>Mutually Defined</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:attributeGroup name="LinkGroup">
		<xs:annotation>
			<xs:documentation>expl: common definition of link attributes</xs:documentation>
		</xs:annotation>
		<xs:attribute name="href" type="xs:anyURI" use="optional" form="unqualified"/>
		<xs:attribute name="imgsrc" type="xs:anyURI" use="optional" form="unqualified"/>
	</xs:attributeGroup>
	<xs:simpleType name="MonetaryAmount">
		<xs:annotation>
			<xs:documentation>expl: common definition of monetary amount data
            type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal"/>
	</xs:simpleType>
	<xs:simpleType name="NameToken">
		<xs:annotation>
			<xs:documentation>expl: alphanumeric identifier</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:token">
			<xs:pattern value="\c+"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="GTIN">
		<xs:annotation>
			<xs:documentation>expl:  EAN-UCC Global Trade Item Number</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:positiveInteger">
			<xs:minInclusive value="1"/>
			<xs:maxInclusive value="99999999999999"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="AccountNumber">
		<xs:annotation>
			<xs:documentation>ARTS: AccountNumber </xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>
	<xs:simpleType name="Percentage">
		<xs:annotation>
			<xs:documentation>expl: natural, non-negative percentage type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="5"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Text">
		<xs:annotation>
			<xs:documentation>expl:  textual description for rendering document</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="StructuredText">
		<xs:annotation>
			<xs:documentation>consider as alternative to Text</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/1999/xhtml" processContents="skip" maxOccurs="unbounded"/>
		</xs:sequence>
		<xs:anyAttribute namespace="http://www.w3.org/1999/xhtml"/>
	</xs:complexType>
	<xs:complexType name="Amount">
		<xs:annotation>
			<xs:documentation>ARTS: Amount -- a generalized monetary amount attribute
            </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="MonetaryAmount"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="CountryCode">
		<xs:annotation>
			<xs:documentation>enum: ISO-3166 / UN/ECE REC 09 Codes, reduced for simpler processing.
                Schema with a full list is available.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AU">
				<xs:annotation>
					<xs:documentation>Australia</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="BE">
				<xs:annotation>
					<xs:documentation>Belgium</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CA">
				<xs:annotation>
					<xs:documentation>Canada</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CN">
				<xs:annotation>
					<xs:documentation>China</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DK">
				<xs:annotation>
					<xs:documentation>Denmark</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FI">
				<xs:annotation>
					<xs:documentation>Finland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FR">
				<xs:annotation>
					<xs:documentation>France</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DE">
				<xs:annotation>
					<xs:documentation>Germany</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GR">
				<xs:annotation>
					<xs:documentation>Greece</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IS">
				<xs:annotation>
					<xs:documentation>Iceland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IN">
				<xs:annotation>
					<xs:documentation>India</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="IL">
				<xs:annotation>
					<xs:documentation>Israel</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="JP">
				<xs:annotation>
					<xs:documentation>Japan</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AN">
				<xs:annotation>
					<xs:documentation>Netherlands Antilles</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NZ">
				<xs:annotation>
					<xs:documentation>New Zealand</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NO">
				<xs:annotation>
					<xs:documentation>Norway</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RU">
				<xs:annotation>
					<xs:documentation>Russian Federation</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="SG">
				<xs:annotation>
					<xs:documentation>Singapore</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ZA">
				<xs:annotation>
					<xs:documentation>South Africa</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ES">
				<xs:annotation>
					<xs:documentation>Spain</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CH">
				<xs:annotation>
					<xs:documentation>Switzerland</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GB">
				<xs:annotation>
					<xs:documentation>United Kingdom</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="US">
				<xs:annotation>
					<xs:documentation>United States</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>expl: structured name details, based on ECML and OASIS
            CIQ</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Prefix" type="xs:string" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="FirstName" type="PersonNameElement" form="qualified"/>
			<xs:element name="MiddleName" type="PersonNameElement" form="qualified" minOccurs="0"/>
			<xs:element name="LastName" type="PersonNameElement" form="qualified"/>
			<xs:element name="Suffix" type="xs:string" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonNameElement">
		<xs:annotation>
			<xs:documentation>expl: structured name detail element</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="PersonNameType" use="optional" form="unqualified">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="GivenName"/>
							<xs:enumeration value="FamilyName"/>
							<xs:enumeration value="Initial"/>
							<xs:enumeration value="PreferredName"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:annotation>
			<xs:documentation>ARTS: StandardizedDomesticAddress +/-</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Street1" type="xs:string" form="qualified">
				<xs:annotation>
					<xs:documentation>ARTS: AddressLine1Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street2" type="xs:string" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: AddressLine2Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street3" type="xs:string" form="qualified" minOccurs="0"/>
			<xs:element name="City" type="xs:string" form="qualified"/>
			<xs:element name="County" type="xs:string" form="qualified" minOccurs="0"/>
			<xs:element name="State" type="xs:string" form="qualified">
				<xs:annotation>
					<xs:documentation>ARTS: ContactState or TerritoryName</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="xs:string" form="qualified">
				<xs:annotation>
					<xs:documentation>ARTS: PostalCode </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: CountryName</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="CountryCode" type="CountryCode" form="unqualified"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Telephone">
		<xs:annotation>
			<xs:documentation>ARTS: Telephone, TelephoneType </xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="TelephoneType" form="unqualified">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="Home"/>
							<xs:enumeration value="Home2"/>
							<xs:enumeration value="Business"/>
							<xs:enumeration value="Business2"/>
							<xs:enumeration value="BusinessFax"/>
							<xs:enumeration value="HomeFax"/>
							<xs:enumeration value="Pager"/>
							<xs:enumeration value="Mobile"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="PartyIDType">
		<xs:simpleContent>
			<xs:extension base="NameToken">
				<xs:attribute name="IDType" use="optional" form="unqualified">
					<xs:simpleType>
						<xs:restriction base="xs:NMTOKEN">
							<xs:enumeration value="GLN"/>
							<xs:enumeration value="DUNS"/>
							<xs:enumeration value="TaxID"/>
							<xs:enumeration value="Account"/>
							<xs:enumeration value="StoreID"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:choice>
			<xs:element name="Name" type="xs:string" form="qualified"/>
			<xs:element name="PersonName" type="PersonName" form="qualified"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>expl: structure with Organization, ContactName, Address, Telephone,
                Email</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyID" type="PartyIDType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="OrganizationName" type="xs:string" form="qualified" minOccurs="0"/>
			<xs:element name="ContactName" type="ContactType" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Address" type="Address" form="qualified" minOccurs="0"/>
			<xs:element name="Telephone" type="Telephone" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Email" type="xs:string" form="qualified" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: EmailAddress</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attributeGroup ref="LinkGroup"/>
	</xs:complexType>
	<xs:complexType name="AddressedParty">
		<xs:annotation>
			<xs:documentation>expl: Party with required Address</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="Party">
				<xs:sequence>
					<xs:element name="PartyID" type="PartyIDType" form="qualified" minOccurs="0"/>
					<xs:element name="OrganizationName" type="xs:string" form="qualified" minOccurs="0"/>
					<xs:element name="ContactName" type="ContactType" form="qualified" maxOccurs="unbounded"/>
					<xs:element name="Address" type="Address" form="qualified"/>
					<xs:element name="Telephone" type="Telephone" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Email" type="xs:string" form="qualified" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ARTS: EmailAddress</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Receipt">
		<xs:annotation>
			<xs:documentation xml:lang="EN">expl: Generalized Receipt</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="HeaderText" form="qualified" minOccurs="0">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Text">
							<xs:attributeGroup ref="LinkGroup"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Issuer" type="Party" form="qualified" minOccurs="0"/>
			<xs:element name="Recipient" type="Party" form="qualified" minOccurs="0"/>
			<xs:element name="CopyTo" type="Party" form="qualified" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Location" type="Party" form="qualified"/>
			<xs:element name="Device" form="qualified" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DeviceID" type="xs:string" form="qualified">
							<xs:annotation>
								<xs:documentation xml:lang="EN">ARTS:
                                WorkstationID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionNumber" type="xs:nonNegativeInteger" form="qualified">
							<xs:annotation>
								<xs:documentation xml:lang="EN">ARTS: TransactionSequenceNumber
                                </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					<xs:attribute name="DeviceType" form="unqualified">
						<xs:simpleType>
							<xs:restriction base="xs:string">
								<xs:enumeration value="POS"/>
								<xs:enumeration value="CallCenterStation"/>
								<xs:enumeration value="Network"/>
								<xs:enumeration value="ATM"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
				</xs:complexType>
			</xs:element>
			<xs:element name="TransactionID" type="NameToken" form="qualified">
				<xs:annotation>
					<xs:documentation xml:lang="EN">expl: A globally unique transaction
                    identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DateTime" type="xs:dateTime" form="qualified">
				<xs:annotation>
					<xs:documentation xml:lang="EN">ARTS: BeginDateTimestamp</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmount" type="MonetaryAmount" form="qualified"/>
			<xs:element name="RelatedReceipt" form="qualified" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TransactionID" type="NameToken" form="qualified"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="Language" type="xs:language" use="optional" form="unqualified"/>
		<xs:attribute name="Currency" type="CurrencyCode" use="optional" form="unqualified"/>
	</xs:complexType>
	<xs:complexType name="TransactionDetail" abstract="true">
		<xs:annotation>
			<xs:documentation xml:lang="EN">expl: abstract type replaced by specific transaction
                using xsi:type</xs:documentation>
		</xs:annotation>
	</xs:complexType>

	<xs:element name="ReceiptList">
		<xs:annotation>
			<xs:documentation xml:lang="EN">Copyright 2001, ARTS-IXRetail, DRA (NCR et
            al)</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:complexContent>
				<xs:extension base="Receipt">
					<xs:sequence>
						<xs:element name="TransactionDetail" type="TransactionDetail" form="qualified">
							<xs:annotation>
								<xs:documentation xml:lang="EN">expl: generic container extended
                                    with specific transaction using xsi:type</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:extension>
			</xs:complexContent>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="TaxAuthority">
		<xs:restriction base="NameToken">
			<xs:enumeration value="National"/>
			<xs:enumeration value="State"/>
			<xs:enumeration value="County"/>
			<xs:enumeration value="City"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TaxAuthorityList">
		<xs:list itemType="TaxAuthority"/>
	</xs:simpleType>
	<xs:complexType name="ItemAlternateID">
		<xs:annotation>
			<xs:documentation>ARTS: ItemAlternateIdentity</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ItemID" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: ItemID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClassID" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: a generalized MerchandiseHierarchyLevelCode within the
                        MerchandiseHierarchySalesPlan </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ManufacturerID" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: Manufacturer </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StyleCode" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: StyleCode </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ColorCode" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: ColorCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SizeCode" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: SizeCode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserExtension" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:any namespace="##any" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SaleItem">
		<xs:annotation>
			<xs:documentation>ARTS: SaleReturnLineItem </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Text" type="Text" minOccurs="0"/>
			<xs:element name="POSItemID" type="xs:positiveInteger">
				<xs:annotation>
					<xs:documentation>ARTS: POSItemID </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemAlternateID" type="ItemAlternateID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: ItemAlternateIdentity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Quantity" default="1" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: Quantity </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:float">
							<xs:attribute name="UnitOfMeasureCode" type="UnitOfMeasureCode"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="UnitPrice" type="MonetaryAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: CurrentSaleUnitRetailPriceAmount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActualUnitPrice" type="MonetaryAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>expl: Unit price net of pricing rules</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtendedAmount" type="MonetaryAmount">
				<xs:annotation>
					<xs:documentation>ARTS: ExtendedAmount </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PackageQuantity" type="xs:nonNegativeInteger" minOccurs="0"/>
			<xs:element name="PackagePrice" type="MonetaryAmount" minOccurs="0"/>
			<xs:element name="RegularPrice" type="MonetaryAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: PermanentSaleUnitRetailPriceAmount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ListPrice" type="MonetaryAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS:
                    ManufacturerSaleUnitRecommendedRetailPriceAmount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepartmentID" type="NameToken" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: POSDepartmentID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerialNumber" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>ARTS: SerialNumber -- A unique code, which can be
                        alpha-numeric, to identify an individual ITEM.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ItemDiscount" type="Discount" minOccurs="0"/>
			<xs:element name="ItemStatus" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PrintCode" type="xs:string"/>
					</xs:sequence>
					<xs:attribute name="Taxable" type="xs:boolean" use="optional"/>
					<xs:attribute name="FoodStampEligible" type="xs:boolean" use="optional"/>
					<xs:attribute name="WICEligible" type="xs:boolean" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="Tax" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="TaxRate" type="Percentage" minOccurs="0"/>
						<xs:element name="InputTaxAmount" type="MonetaryAmount" minOccurs="0"/>
					</xs:sequence>
					<xs:attribute name="TaxExempt" type="xs:boolean" use="optional" default="false"/>
					<xs:attribute name="TaxAuthorities" use="optional">
						<xs:simpleType>
							<xs:restriction base="TaxAuthorityList">
								<xs:minLength value="1"/>
								<xs:maxLength value="4"/>
							</xs:restriction>
						</xs:simpleType>
					</xs:attribute>
					<xs:attribute name="TaxInclusive" type="xs:boolean" use="optional"/>
				</xs:complexType>
			</xs:element>
			<xs:element name="CustomerIdentification" type="CustomerIdentification" minOccurs="0"/>
			<xs:element name="Salesperson" type="Associate" minOccurs="0"/>
		</xs:sequence>
		<xs:attributeGroup ref="LinkGroup"/>
	</xs:complexType>
	<xs:complexType name="Discount">
		<xs:sequence>
			<xs:element name="Text" type="Text" minOccurs="0"/>
			<xs:element name="Amount" type="Amount"/>
			<xs:element name="ReductionPercent" type="xs:float" minOccurs="0"/>
		</xs:sequence>
		<xs:attribute name="DiscountType">
			<xs:simpleType>
				<xs:restriction base="NameToken">
					<xs:enumeration value="Employee"/>
					<xs:enumeration value="SeniorCitizen"/>
					<xs:enumeration value="Coupon"/>
					<xs:enumeration value="PriceRule"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
		<xs:attributeGroup ref="LinkGroup"/>
	</xs:complexType>
	<xs:complexType name="GiftCertificate">
		<xs:annotation>
			<xs:documentation source="http://www.nrf-arts.org/xml-dictionary/xmldictionary-vn30.html#GiftCertificate">ARTS: GiftCertificate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="GiftCertificateID" type="NameToken">
				<xs:annotation>
					<xs:documentation>ARTS: GiftCertificateSerialNumber </xs:documentation>
					<xs:documentation>LTD: Can include letter G,C, or M =&gt; Alphanumeric ID, not
                        number</xs:documentation>

				</xs:annotation>
			</xs:element>
			<xs:element name="FaceValueAmount" type="Amount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: FaceValueAmount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnspentBalanceAmount" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: UnspentValueAmount</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="Amount">
							<xs:attribute name="UnspentBalanceDispositionCode" use="optional">
								<xs:simpleType>
									<xs:restriction base="NameToken">
										<xs:enumeration value="Cash"/>
										<xs:enumeration value="OnAccount"/>
										<xs:enumeration value="NewVoucher"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GiftCertificateLineItem">
		<xs:annotation>
			<xs:documentation source="http://www.nrf-arts.org/xml-dictionary/xmldictionary-vn30.html#GiftCertificateLineItem">ARTS: GiftCertificateLineItem </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:restriction base="GiftCertificate">
				<xs:sequence>
					<xs:element name="GiftCertificateID" type="NameToken">
						<xs:annotation>
							<xs:documentation>ARTS: GiftCertificateSerialNumber </xs:documentation>
							<xs:documentation>LTD: Can include letter G,C, or M =&gt; Alphanumeric
                                ID, not number</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FaceValueAmount" type="Amount" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ARTS: FaceValueAmount</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:restriction>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GiftCertificateTender">
		<xs:annotation>
			<xs:documentation source="http://www.nrf-arts.org/xml-dictionary/xmldictionary-vn30.html#GiftCertificateTenderLineItem">ARTS: GiftCertificateTenderLineItem </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="GiftCertificate"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PaymentCard">
		<xs:annotation>
			<xs:documentation>ARTS: Credit/DebitCardTenderLineItem </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccountNumber">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="AccountNumber">
							<xs:attribute name="EntryMethod" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="MSR"/>
										<xs:enumeration value="Keyed"/>
										<xs:enumeration value="SmartCard"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="EntrySource" use="optional">
								<xs:simpleType>
									<xs:restriction base="xs:NMTOKEN">
										<xs:enumeration value="Customer"/>
										<xs:enumeration value="Merchant"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attribute name="CardImprint" type="xs:boolean" use="optional"/>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardExpirationDate" type="xs:string">
				<xs:annotation>
					<xs:documentation>ARTS: ? </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardHolderName" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: N/A </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="CardType" use="optional">
			<xs:simpleType>
				<xs:restriction base="xs:NMTOKEN">
					<xs:enumeration value="AMEX"/>
					<xs:enumeration value="DINERS"/>
					<xs:enumeration value="DISC"/>
					<xs:enumeration value="JCB"/>
					<xs:enumeration value="MC"/>
					<xs:enumeration value="VISA"/>
					<xs:enumeration value="STORE"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CustomerIdentification">
		<xs:annotation>
			<xs:documentation>ARTS: Associated with specific items, such as CheckTenderLineItem
            </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonalID" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: PersonalIDNumber </xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="PersonalIDType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="DriverLicense"/>
										<xs:enumeration value="Passport"/>
										<xs:enumeration value="CreditCard"/>
										<xs:enumeration value="NationalIdentityCard"/>
										<xs:enumeration value="Telephone"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="BirthDate" type="xs:date" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ARTS: BirthDate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureImage" type="xs:base64Binary" minOccurs="0">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TransactionReference">
		<xs:sequence>
			<xs:element name="TransactionID" type="NameToken"/>
			<xs:element name="RetailReference" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="MerchantID" type="NameToken">
							<xs:annotation>
								<xs:documentation>Receipt/Issuer/PartyID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="RetailStoreID" type="NameToken">
							<xs:annotation>
								<xs:documentation>Receipt/Location/PartyID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="WorkstationID" type="NameToken">
							<xs:annotation>
								<xs:documentation>Receipt/Device/DeviceID</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="TransactionNumber" type="xs:nonNegativeInteger">
							<xs:annotation>
								<xs:documentation>Receipt/Device/TransactionNumber</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="BusinessDayDate" type="xs:date">
							<xs:annotation>
								<xs:documentation>Receipt/Timestamp</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Time" type="xs:time" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Receipt/Timestamp</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Associate">
		<xs:sequence>
			<xs:element name="AssociateID" maxOccurs="unbounded">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<xs:attribute name="IDType" use="optional">
								<xs:simpleType>
									<xs:restriction base="NameToken">
										<xs:enumeration value="OperatorID"/>
										<xs:enumeration value="EmployeeID"/>
										<xs:enumeration value="SalespersonID"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:element name="Name" type="xs:string" minOccurs="0"/>
				<xs:element name="PersonName" type="PersonName" minOccurs="0"/>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RetailTransaction">
		<xs:complexContent>
			<xs:extension base="TransactionDetail">
				<xs:sequence>
					<xs:element name="ShipTo" type="AddressedParty" minOccurs="0"/>
					<xs:element name="BillTo" type="AddressedParty" minOccurs="0"/>
					<xs:element name="Shipment" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Carrier" minOccurs="0">
									<xs:annotation>
										<xs:documentation>add ID attribute?</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="Text">
												<xs:attributeGroup ref="LinkGroup"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="ShipmentTrackingID" minOccurs="0">
									<xs:annotation>
										<xs:documentation>use @href for tracking
                                        URL</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="NameToken">
												<xs:attribute name="href" type="xs:anyURI" use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="ServiceLevel" minOccurs="0">
									<xs:annotation>
										<xs:documentation>Element can contain free text.
                                            ServiceLevelCode enumerated from X12 284.
                                        </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="Text">
												<xs:attribute name="ServiceLevelCode" type="ServiceLevelCode" use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Operator" type="Associate">
						<xs:annotation>
							<xs:documentation>ARTS: OperatorID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Salesperson" type="Associate" minOccurs="0">
						<xs:annotation>
							<xs:documentation>ARTS: CommissionEmployeeID</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Total" maxOccurs="unbounded">
						<xs:complexType>
							<xs:annotation>
								<xs:documentation>ARTS: formerly included in RetailTransaction
                                </xs:documentation>
							</xs:annotation>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="Amount" type="Amount"/>
								<xs:element name="ItemCount" type="xs:integer" minOccurs="0"/>
							</xs:sequence>
							<xs:attribute name="TotalType">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Total"/>
										<xs:enumeration value="Subtotal"/>
										<xs:enumeration value="FoodStampTotal"/>
										<xs:enumeration value="TaxableTotal"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="CustomerLoyaltyAccount" minOccurs="0">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="CustomerAccountID" type="NameToken"/>
								<xs:element name="EffectiveDate" type="xs:date" minOccurs="0"/>
								<xs:element name="ExpirationDate" type="xs:date" minOccurs="0"/>
								<xs:element name="CumulativeSales" type="MonetaryAmount" minOccurs="0"/>
								<xs:element name="CumulativePoints" minOccurs="0" maxOccurs="unbounded">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:integer">
												<xs:attribute name="PointsType" type="xs:NMTOKEN" use="optional"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attributeGroup ref="LinkGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="ReturnItem" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="SaleItem">
									<xs:sequence>
										<xs:element name="OriginalTransaction" type="TransactionReference" minOccurs="0"/>
									</xs:sequence>
									<xs:attribute name="ReturnReasonCode" type="xs:NMTOKEN" use="optional"/>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="SaleItem" type="SaleItem" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ARTS: SaleReturnLineItem </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="GiftCertificate" type="GiftCertificateLineItem" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="Discount" type="Discount" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ARTS: DiscountLineItem </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="Shipping" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Use for Shipping and related fees, such as Handling
                                and Insurance</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="Amount" type="Amount"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Tax" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ARTS: TaxLineItem </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="Amount" type="Amount"/>
								<xs:element name="TaxableAmount" type="MonetaryAmount" minOccurs="0">
									<xs:annotation>
										<xs:documentation>ARTS: TaxableAmount </xs:documentation>
									</xs:annotation>
								</xs:element>
								<xs:element name="TaxRate" type="Percentage" minOccurs="0"/>
								<xs:element name="TaxExemptAmount" minOccurs="0">
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="MonetaryAmount">
												<xs:attribute name="TaxExemptionID" type="xs:string"/>
												<xs:attribute name="TaxExemptionReasonCode" type="xs:string"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
							</xs:sequence>
							<xs:attribute name="TaxAuthorityType" type="TaxAuthority" use="optional"/>
							<xs:attribute name="TaxAuthorityID" type="xs:NMTOKEN" use="optional"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="Tender" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ARTS: TenderLineItem </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:annotation>
								<xs:documentation>ARTS: TenderLineItem </xs:documentation>
							</xs:annotation>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="Amount" type="Amount"/>
								<xs:element name="ForeignCurrencyAmount" minOccurs="0">
									<xs:annotation>
										<xs:documentation>expl: Amount of "foreign" currency
                                            tendered. [A currency other than the base currency of
                                            the transaction.] </xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:simpleContent>
											<xs:extension base="xs:float">
												<xs:attribute name="CurrencyCode" type="CurrencyCode" use="required"/>
											</xs:extension>
										</xs:simpleContent>
									</xs:complexType>
								</xs:element>
								<xs:element name="CustomerIdentification" type="CustomerIdentification" minOccurs="0"/>
								<xs:element name="Authorization" minOccurs="0">
									<xs:complexType>
										<xs:annotation>
											<xs:documentation>ARTS: Authorization
                                            </xs:documentation>
										</xs:annotation>
										<xs:sequence>
											<xs:element name="ProviderID" type="xs:string" minOccurs="0">
												<xs:annotation>
													<xs:documentation>ARTS:
                                                  PartyID:PartyRoleTypeCode -- the
                                                  authorization provider is a generalized
                                                  PartyRole in the ARTS
                                                  model</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ApprovalCode" type="xs:string">
												<xs:annotation>
													<xs:documentation>ARTS: AdjudicationCode.  A
                                                  code returned in an authorization request,
                                                  and recorded as proof of authorization.
                                                  </xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ReferenceID" type="NameToken" minOccurs="0">
												<xs:annotation>
													<xs:documentation>expl: typically a "Reference
                                                  Number," assigned to the transaction and
                                                  printed on the cardholder's statement to
                                                  identify the transaction in case of dispute
                                                  or inquiry.</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ReasonCode" type="NameToken" minOccurs="0">
												<xs:annotation>
													<xs:documentation>expl:  indicates approval or
                                                  basic reason for denial. (Not all negative
                                                  responses will preclude acceptance of the
                                                  card as tender.)</xs:documentation>
												</xs:annotation>
											</xs:element>
											<xs:element name="ApprovalDateTime" type="xs:dateTime" minOccurs="0"/>
											<xs:element name="AddressVerification" minOccurs="0">
												<xs:complexType>
													<xs:attribute name="ShipTo" type="xs:boolean" use="optional"/>
													<xs:attribute name="BillTo" type="xs:boolean" use="optional"/>
													<xs:attribute name="PostalCode" type="xs:NMTOKEN" use="optional"/>
												</xs:complexType>
											</xs:element>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:choice minOccurs="0">
									<xs:element name="Cheque">
										<xs:annotation>
											<xs:documentation>ARTS:
                                            CheckTenderLineItem</xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:sequence>
												<xs:element name="BankID" type="xs:positiveInteger" minOccurs="0">
													<xs:annotation>
														<xs:documentation>ARTS: BankID
                                                  </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ChequeAccountNumber" type="xs:positiveInteger">
													<xs:annotation>
														<xs:documentation>ARTS: CheckAccountNumber
                                                  </xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="ChequeNumber" type="xs:positiveInteger" minOccurs="0">
													<xs:annotation>
														<xs:documentation>ARTS: CheckSequenceNumber
                                                  </xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Credit" type="PaymentCard">
										<xs:annotation>
											<xs:documentation>ARTS: Credit/DebitCardTenderLineItem
                                            </xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Debit">
										<xs:annotation>
											<xs:documentation>ARTS: Credit/DebitCardTenderLineItem
                                            </xs:documentation>
										</xs:annotation>
										<xs:complexType>
											<xs:complexContent>
												<xs:extension base="PaymentCard">
													<xs:sequence>
														<xs:element name="HostText" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>ARTS: N/A.  ex:
                                                  (US) 12-CFR-205 Reg E Text from
                                                  Switch</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:extension>
											</xs:complexContent>
										</xs:complexType>
									</xs:element>
									<xs:element name="GiftCertificate" type="GiftCertificateTender">
										<xs:annotation>
											<xs:documentation>ARTS:
                                            GiftCertificateTenderLineItem</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="CustomerAccount">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="AccountNumber" type="AccountNumber"/>
												<xs:element name="BalanceForward" type="MonetaryAmount" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="PurchaseOrder">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="PurchaseOrderID" type="NameToken"/>
												<xs:element name="Date" type="xs:date" minOccurs="0"/>
												<xs:element name="AuthorizedAmount" type="MonetaryAmount" minOccurs="0"/>
												<xs:element name="Contact" type="Party"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="Coupon">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="CouponID" type="GTIN"/>
												<xs:element name="ExtendedCode" type="NameToken" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:choice>
							</xs:sequence>
							<xs:attribute name="TenderType" default="Cash">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Cash"/>
										<xs:enumeration value="Cheque"/>
										<xs:enumeration value="CreditCard"/>
										<xs:enumeration value="Debit"/>
										<xs:enumeration value="CustomerAccount"/>
										<xs:enumeration value="ChequeCard"/>
										<xs:enumeration value="GiftCertificate"/>
										<xs:enumeration value="TravelersCheque"/>
										<xs:enumeration value="Coupon"/>
										<xs:enumeration value="FoodStamp"/>
										<xs:enumeration value="WICCheque"/>
										<xs:enumeration value="PurchaseOrder"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
							<xs:attributeGroup ref="LinkGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="TenderChange" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>ARTS: TenderChangeLineItem </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="Amount" type="Amount"/>
							</xs:sequence>
							<xs:attribute name="TenderType" default="Cash">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Cash"/>
										<xs:enumeration value="FoodStamp"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:attribute>
						</xs:complexType>
					</xs:element>
					<xs:element name="LoyaltyPointsAwarded" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="PointsAwarded" type="xs:integer"/>
							</xs:sequence>
							<xs:attribute name="PointsType" type="xs:NMTOKEN"/>
							<xs:attributeGroup ref="LinkGroup"/>
						</xs:complexType>
					</xs:element>
					<xs:element name="TrailerText" minOccurs="0">
						<xs:complexType>
							<xs:simpleContent>
								<xs:extension base="Text">
									<xs:attributeGroup ref="LinkGroup"/>
								</xs:extension>
							</xs:simpleContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="PromotionText" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Text" type="Text" minOccurs="0"/>
								<xs:element name="StructuredText" type="StructuredText" minOccurs="0"/>
							</xs:sequence>
							<xs:attributeGroup ref="LinkGroup"/>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
