t/xml_4/group_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- XSD Schema Validator - Tracciato Record delle Richieste NP Pura  -->
<!-- edited by OPI -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ComunicazioneNP">
		<xs:annotation>
			<xs:documentation>Comunicazione Number Portability tra OLO</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence maxOccurs="100">
				<xs:element name="Richiesta">
					<xs:annotation>
						<xs:documentation>Una Richiesta e' intesa come Messaggio per la Gestione delle Richiesta di attivazione della prestazione di Number Portability Geografica (prima portabilità e portabilità successiva), di Cessazione e Cessazione con Rientro.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice>
							<xs:element name="Portin">
								<xs:annotation>
									<xs:documentation>Tipo Comunicazione 1</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TipoComunicazione">
											<xs:annotation>
												<xs:documentation>Il Tipo Comunicazione per questo tipo di messaggio puo' essere: 1. Richiesta di NP (Recipient verso Donor)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:pattern value="1"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
                    <xs:element minOccurs="0" maxOccurs="3" name="Referente" type="Referente" />
                    <xs:element minOccurs="0" maxOccurs="7" name="NumerazioneAggiuntiva">
                      <xs:simpleType>
                        <xs:restriction base="xs:string">
                          <xs:maxLength value="12" />
                        </xs:restriction>
                      </xs:simpleType>
                    </xs:element>
										<xs:group ref="GrpLv1" minOccurs="0" maxOccurs="100"/> 
										<xs:group ref="GrpLv2" minOccurs="0" maxOccurs="1" />
										<xs:group ref="GrpLv3" minOccurs="0" maxOccurs="1" />
										<xs:element name="CodiceSegreto" type="TipoCodiceSegreto"/>
										<xs:element name="RoutingNumber">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="18"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Prenotifica_Donating">
								<xs:annotation>
									<xs:documentation>Tipo Comunicazione 3</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TipoComunicazione">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:pattern value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:group ref="GrpLv1"/>
										<xs:group ref="GrpLv2"/>
										<xs:group ref="GrpLv3"/>
										<xs:element name="CodiceSegreto" type="TipoCodiceSegreto">
											<xs:annotation>
												<xs:documentation>codice segreto necessario per avviare il trasferimento dal vecchio al nuovo operatore telefonico</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="IdentificativoOperatoreDonating">
											<xs:annotation>
												<xs:documentation>Il Donating in questa comunicazione e' l'operatore che riceve la richiesta.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NPAggiuntive" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Le numerazioni aggiuntive si possono indicare opzionalmente esclusivamente nel caso di prenotifica a Telecom Italia come Donating</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NumAggiuntivaPortata" maxOccurs="7">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Cessazione">
								<xs:annotation>
									<xs:documentation>Tipo Comunicazione 8</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TipoComunicazione">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1"/>
													<xs:pattern value="8"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:group ref="GrpLv1"/>
										<xs:element name="Rientro" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Sezione dedicata al Rientro in Telecom Italia</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="RientroTI">
														<xs:annotation>
															<xs:documentation>Questo flag e' da applicarsi esclusivamente nel caso di rientro di numerazione in Telecom Italia (TI e' DONOR).
La valorizzazione ammessa e' 1. Rientro in TI.</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:length value="1"/>
																<xs:pattern value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:group ref="GrpLv2"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="IdentificativoOperatoreDonating">
											<xs:annotation>
												<xs:documentation>Il Donating in caso di cessazione e' l'operatore che origina la richiesta.</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="NPAggiuntive" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Le numerazioni aggiuntive si possono indicare opzionalmente esclusivamente nel caso di Rientro in Telecom Italia</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NumAggiuntivaPortata" maxOccurs="7">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Annullamento">
								<xs:annotation>
									<xs:documentation>Tipo Comunicazione 11 - dal Recipient al Donor e dal Donor al Donating</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TipoComunicazione">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="2"/>
													<xs:pattern value="11"/>
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:group ref="GrpLv1"/>
										<xs:group ref="GrpLv2"/>
										<xs:group ref="GrpLv3"/>
										<xs:element name="CodiceSegreto" type="TipoCodiceSegreto">
											<xs:annotation>
												<xs:documentation>codice segreto inviato inizialmente con la richiesta di portin da annullare dal recipient al donor</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="NPAggiuntive" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="NumAggiuntivaPortata" maxOccurs="7">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="12"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="TipoData">
		<xs:restriction base="xs:date"/>
	</xs:simpleType>
	<xs:simpleType name="DefinizioneTipoLinea">
		<xs:restriction base="xs:string">
			<xs:pattern value="1|2|3"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="TipoFlag">
		<xs:restriction base="xs:string">
			<xs:length value="1"/>
			<xs:pattern value="0|1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:group name="GrpLv1">
		<xs:sequence>
			<xs:element name="CodiceOrdine">
				<xs:annotation>
					<xs:documentation>Identificativo dell'ordine generato dal richiedente</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="18"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataOrdine" type="TipoData">
				<xs:annotation>
					<xs:documentation>Rappresenta la data di invio dell’ordine</xs:documentation>
				</xs:annotation>
			</xs:element>
<!--
			<xs:element name="DirectoryNumber">
				<xs:annotation>
					<xs:documentation>E' il numero oggetto della portabilita'. Per i GNR deve essere indicato il Radicale. Nel caso di rientro in TI  il Donating  può inserire, a sua scelta,  il radicale oppure il  numero presente in fattura. 
Se il campo TipoLinea vale '3' allora deve essere riportato il principale del gruppo ISDN.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
						<xs:minLength value="4"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TipoLinea" type="DefinizioneTipoLinea" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Puo' essere vuoto oppure assumere i seguenti valori:
1.  nel solo caso GNR identificato con radicale
2. nel caso di GNR identificato con numero presente in fattura (può essere utilizzato, in alternativa al caso precedente nel solo caso in cui Donor = Donating = TI oppure in caso di rientro in TI)
3. ISDN valido nel solo caso di Donor = Donating = TI oppure di rientro in TI. E' assente o vuoto in tutti gli altri casi</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Note" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="255"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataInvioMessaggio" type="TipoData">
				<xs:annotation>
					<xs:documentation>Rappresenta la data di invio dello specifico messaggio da parte del mittente al destinatario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificativoOperatoreDonor">
				<xs:annotation>
					<xs:documentation>Valorizzato dal richiedente con il codice operatore Donor della numerazione</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
		</xs:sequence>
	</xs:group>
	<xs:group name="GrpLv2">
		<xs:sequence>
			<xs:element name="NomeCliente" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="40"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
<!--
			<xs:element name="CognomeCliente_RagioneSociale">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
						<xs:minLength value="1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="TelefonoReferenteRichiedente">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="12"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="EmailReferenteRichiedente">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
-->
			<xs:element name="Correlazioni" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IdentificativoCorrelazioni">
							<xs:annotation>
								<xs:documentation>Identificativo obbligatorio nel caso in cui si vogliano sincronizzazione piu' richieste sul medesimo Donor.</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="15"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="TotaleRichieste">
							<xs:annotation>
								<xs:documentation>Obbligatorio nel caso in cui sia stato valorizzato il campo IdentificativoCorrelazioni</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:totalDigits value="4"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="GrpLv3">
		<xs:sequence>
			<xs:element name="CodiceOpRecipient">
				<xs:annotation>
					<xs:documentation>Da valorizzare con uno dei valori tra i COW presenti nell’Allegato 8 “Anagrafica COS e COW”</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:length value="3"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="DataAttesaConsegnaServizio" type="TipoData">
				<xs:annotation>
					<xs:documentation>e' la DAC valorizzata dal Recipient</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodiceProgetto" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="10"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FlagNPNumerazioniAggiuntive" type="TipoFlag" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Il campo e’ necessario se la linea e’ ISDN  e vale
0 = no aggiuntivi
1= si aggiuntivi
Previsto nel caso di Telecom Italia Donor=Donating</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:simpleType name="TipoCodiceSegreto">
		<xs:restriction base="xs:string">
			<xs:length value="3"/>
		</xs:restriction>
	</xs:simpleType>
  <xs:complexType name="Referente">
    <xs:sequence>
      <xs:element name="QualificaRef">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="O" />
            <xs:enumeration value="CF" />
            <xs:maxLength value="2" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="CognomeReferente">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
